# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
googletest/*

# Executables
*.exe
*.out
*.app
build/
out/
lib/**
**/.DS_Store
src/roms/8080-Exer Result
src/roms/CPUTEST.asm
src/roms/CPUTEST.prm.lst
